### Упр. - Объявление переменных
количество_студентов = 25  # int

средний_балл = 4.7  # float

название_курса = "Введение в Python"  # str

прошел_курс = True  # bool

In [1]:
# количество_студентов
students = 25
# средний_балл 
avg_score = 4.7
# название_курса
cource_name = 'Введение в Python'
# прошел курс
has_completed = True

### Упр. - Вывод типов переменных  
print(type(количество_студентов))  # <class 'int'>

print(type(средний_балл))  # <class 'float'>

print(type(название_курса))  # <class 'str'>

print(type(прошел_курс))  # <class 'bool'>

In [2]:
# объявим переменную, в которой будет хранитьсе список еременных
list_variables = [students, avg_score, 
                  cource_name, has_completed]
# и переменную, которая будет хранить название переменной
name_variables = ['students', 'avg_score', 
                  'cource_name', 'has_completed']
# выведем название и типы переменных 
for i, variable in enumerate(list_variables):
    print('Тип переменной {}: {}.'.format(name_variables[i],
                                          type(variable)))

Тип переменной students: <class 'int'>.
Тип переменной avg_score: <class 'float'>.
Тип переменной cource_name: <class 'str'>.
Тип переменной has_completed: <class 'bool'>.

### Упр. - Арифметические операции  
сумма = количество_студентов + 5

print(сумма)  # 30

In [3]:
new_students = students + 5
print("Обновленное количество студентов: ", new_students)

Обновленное количество студентов:  30

### Упр. - Конкатенация строк
новое_название = название_курса + " (часть 1)"

print(новое_название)  # Введение в Python (часть 1)

In [4]:
new_cource_name = cource_name + ' часть 1'
print(new_cource_name)

Введение в Python часть 1

### Упр. - Преобразование типов
строка_из_числа = str(количество_студентов)

print(строка_из_числа)  # "25"

число_из_строки = int("10")

print(число_из_строки)  # 10

In [5]:
str_to_int = str(25)
print(str_to_int, type(str_to_int))

25 <class 'str'>

In [6]:
int_to_str = int('10')
print(int_to_str, type(int_to_str))

10 <class 'int'>

### Упр. - Создание списка
`любимые_книги = ["Гарри Поттер", "Властелин колец", "1984"]`

In [7]:
my_books = ["Гарри Поттер", "Властелин колец", "1984"]
print("Любимые книги: ", my_books)

Любимые книги:  ['Гарри Поттер', 'Властелин колец', '1984']

### Упр. - Доступ к элементам
`print(любимые_книги[0])  # "Гарри Поттер"`

`print(любимые_книги[-1])  # "1984"`

In [8]:
for i in [0, -1]:
    print(my_books[i])

Гарри Поттер
1984

In [9]:
print("Первая книга в списке моих любимых: ", my_books[0])
print("Последняя книга в списке моих любимых: ", my_books[-1])

Первая книга в списке моих любимых:  Гарри Поттер
Последняя книга в списке моих любимых:  1984

### Упр. - Добавление элемента
любимые_книги.append("Мартин Иден")

print(любимые_книги)  # `["Гарри Поттер", "Властелин колец", "1984", "Мартин Иден"]`

In [10]:
my_books.append('Мартин Иден')
print(my_books)

['Гарри Поттер', 'Властелин колец', '1984', 'Мартин Иден']

### Упр. - Удаление элемента
`del любимые_книги[2]`

`print(любимые_книги)  # ["Гарри Поттер", "Властелин колец", "Мартин Иден"]\`

In [11]:
del my_books[2]
print(my_books)

['Гарри Поттер', 'Властелин колец', 'Мартин Иден']

### Упр. - Сортировка
любимые_книги.sort()

print(любимые_книги)  # `["Гарри Поттер", "Властелин колец", "Мартин Иден"]`

In [12]:
my_books.sort()
print(my_books)

['Властелин колец', 'Гарри Поттер', 'Мартин Иден']

### Упр. - Срез
четные_числа = `list(range(1, 11))[1::2]`

print(четные_числа)  # `[2, 4, 6, 8, 10]`

In [13]:
even_numbers = list(range(1,11))[1::2]
print(even_numbers)

[2, 4, 6, 8, 10]

### Упр. - Работа со словарями
`# Создание словаря`
столицы = {"Россия": "Москва", "Франция": "Париж", "Германия": "Берлин"}

In [14]:
capitols =  {"Россия": "Москва",
             "Франция": "Париж", 
             "Германия": "Берлин"}

`# Доступ к значению по ключу` `print(столицы["Россия"])  # "Москва"`

In [15]:
print(capitols["Россия"])

Москва

`# Добавление новой пары ключ-значение` `столицы["Испания"] = "Мадрид"`

In [16]:
capitols["Испания"] = "Мадрид"

`print(столицы)  # {"Россия": "Москва", "Франция": "Париж", "Германия": "Берлин", "Испания": "Мадрид"}`

In [17]:
print(capitols)

{'Россия': 'Москва', 'Франция': 'Париж', 'Германия': 'Берлин', 'Испания': 'Мадрид'}

`# Проверка наличия ключа`
`if "Италия" in столицы:
  print(столицы["Италия"])
else:
  print("Столица Италии не найдена")`

In [18]:
if "Италия" in capitols:
    print(capitols['Италия'])
else:
    print("Столица Италии не найдена")

Столица Италии не найдена

### Упр. - Управляющие конструкции
`# Определение знака числа/  число = int(input("Введите число: ")) `  
'''  
if число > 0:  
  print("Число положительное")  
elif число < 0:  
  print("Число отрицательное")  
else:  
  print("Число равно нулю")  
'''

In [19]:
number = int(input("Введите число: ")) 
if number > 0:
    print("Число положительное")
elif number < 0:
    print("Число отрицательное")
else:
    print("Число равно нулю")

Введите число:  66

Число положительное

`# Вывод четных чисел от 1 до 100`  
'''
for i in range(2, 101, 2):  
  print(i, end=" ")
'''

In [20]:
for i in range(2, 101, 2):
    print (i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

`# Таблица умножения`  
'''  
число = int(input("Введите число: "))   
for i in range(1, 11):    
  print(f"{число} * {i} = {число * i}")  
'''

In [21]:
numbr = int(input("Введите число: "))
for i in range(1, 11):
    print(f"{numbr} * {i} = {numbr * i}")

Введите число:  66

66 * 1 = 66
66 * 2 = 132
66 * 3 = 198
66 * 4 = 264
66 * 5 = 330
66 * 6 = 396
66 * 7 = 462
66 * 8 = 528
66 * 9 = 594
66 * 10 = 660

### Упр. - Функции
`# Функция для нахождения суммы двух чисел`  
'''   
def сумма(a, b):  
  return a + b  
результат = сумма(5, 3)  

print(результат)  # 8  
'''

In [22]:
def summ(a, b):
    return a+b

result_summ = summ(5, 3)
print(result_summ)

8

`# Функция для нахождения среднего арифметического списка чисел`  
'''  
def среднее(числа):   
  return sum(числа) / len(числа)   
список_чисел = [1, 5, 3, 7, 9]  
среднее_значение = среднее(список_чисел)  

print(среднее_значение)  # 5.0  
'''

In [23]:
def avg_num(numbs):
    return sum(numbs) / len(numbs)

numbs_list = [1, 5, 3, 7, 9]
avg_numbs_list = avg_num(numbs_list)
print(avg_numbs_list)

5.0

### Упр. - Работа с типами данных
1. Создайте переменные разных типов данных:
 - Целое число (например, количество студентов в группе).
 - Число с плавающей точкой (например, средний балл).
 - Строку (например, название курса).
 - Логическое значение (например, прошел ли студент курс).
2.  
 - Выведите типы созданных переменных.
 - Выполните базовые арифметические операции с числовыми переменными.
 - Сконкатенируйте строковые переменные.
 - Преобразуйте числовую переменную в строку и наоборот.

In [24]:
# 1
# количество_студентов
studs = 125
# средний_балл 
avg_scr = 4.9
# название_курса 
name_of_course= 'Основы Python'
# прошел курс - нет
has_compl = False

In [25]:
# 2 типы созданных переменных.
  # список переменных2
list_variab = [studs, avg_scr, name_of_course, has_compl]
name_list_variab = ['studs', 'avg_scr', 'name_of_course', 'has_compl']
for i, variab in enumerate(list_variab):
    print(f'Тип данных переменной {name_list_variab[i]}: {type(variab)}')

Тип данных переменной studs: <class 'int'>
Тип данных переменной avg_scr: <class 'float'>
Тип данных переменной name_of_course: <class 'str'>
Тип данных переменной has_compl: <class 'bool'>

In [32]:
# 2  базовые арифметические операции с числовыми переменными.
studs_group = studs // 25
print("Для сдачи экзаменов, студентов разделили \
на {} группы по 25 человек".format(studs_group))

# Вычитание
dif_studs = studs - 25
print(f'25 студентов ушли домой и на паре их осталось: {dif_studs}')
# Сложение
plus_stud = dif_studs + 6
print(f'6 студентов с другого курса присоединились и их стало\
: {plus_stud}')
total_score = avg_scr * plus_stud
print(f'Общее количество набранных баллов {plus_stud}-ти студентов \
может быть таким: {round(total_score,1)}')

Для сдачи экзаменов, студентов разделили на 5 группы по 25 человек
25 студентов ушли домой и на паре их осталось: 100
6 студентов с другого курса присоединились и их стало: 106
Общее количество набранных баллов 106-ти студентов может быть таким: 519.4

In [33]:
# 2 Сконкатенируйте строковые переменные.
full_cource_name = name_of_course + " : Строим прочный фундамент"
print(f'Полное название курса: "{full_cource_name}"')

Полное название курса: "Основы Python : Строим прочный фундамент"

In [34]:
# 2  Преобразуйте числовую переменную в строку и наоборот.
avg_scr_str = str(avg_scr)
print(avg_scr_str, type(avg_scr_str))

4.9 <class 'str'>

In [35]:
avg_scr_float = float(avg_scr_str)
print(avg_scr_float, type(avg_scr_float))

4.9 <class 'float'>

### Упр. - Работа со списками
1. Создайте список любимых книг, фильмов или песен.
1. Выведите первый и последний элементы списка.
1. Добавьте новый элемент в конец списка.
1. Удалите элемент из списка по индексу.
1. Отсортируйте список по алфавиту.
1. Создайте новый список, содержащий только четные числа из исходного списка.

In [36]:
# 1 Создайте список любимых книг, фильмов или песен.
list_books = ['Идиот', 'Война и мир', 
              'Мастер и мммаргарита', 'Дом в котором...']

In [37]:
# 2 Выведите первый и последний элементы списка.
print("Первая книга в моем списке это: ", list_books[0])
print("Последняя книга в моем списке это: ", list_books[len(list_books) -1])

Первая книга в моем списке это:  Идиот
Последняя книга в моем списке это:  Дом в котором...

In [38]:
# 4 Удалите элемент из списка по индексу.
del list_books[2]
print('Обновленный список книг после удаления первой книги списка:\n', 
list_books)

Обновленный список книг после удаления первой книги списка:
 ['Идиот', 'Война и мир', 'Дом в котором...']

In [39]:
# 3 Добавьте новый элемент в конец списка.
list_books.append('Мастер и Маргарита')
print("Обновленный список книг: ", list_books)

Обновленный список книг:  ['Идиот', 'Война и мир', 'Дом в котором...', 'Мастер и Маргарита']

In [40]:
# 5 Отсортируйте список по алфавиту
list_books.sort(reverse=False)
print(list_books)

['Война и мир', 'Дом в котором...', 'Идиот', 'Мастер и Маргарита']

In [41]:
# 6 Создайте новый список, содержащий только четные числа из исходного списка.
# 6.1создадим исходный список
import random

randoms_list=[]
for i in range (15):
    randoms_list.append(random.randrange(10, 1005, 1))
randoms_list

[562, 68, 925, 405, 94, 163, 848, 229, 283, 254, 38, 56, 640, 454, 772]

In [42]:
# 6.2 создадим теперь список с четными числами из списка randoms_list
new_num_list = []
for numb in randoms_list:
    if numb % 2  == 0:
        new_num_list.append(numb)
print("Список с четными числами из списка randoms_list: ", new_num_list)

Список с четными числами из списка randoms_list:  [562, 68, 94, 848, 254, 38, 56, 640, 454, 772]

### Упр. - Работа со словарями
1. Создайте словарь, где ключами будут названия стран, а значениями - их столицы.
1. Выведите столицу по заданной стране.
1. Добавьте новую пару "страна-столица" в словарь.
1. Проверьте, есть ли в словаре заданная страна.

In [43]:
# 1.Создайте словарь, где ключами будут названия стран, а значениями - их столицы.
country_dict = {'Бельгия': 'Брюссель', 
              'Норвегия': 'Осло',
               'Швеция': 'Стокгольм',
               'Албания': 'Тирана'
              }

In [44]:
# 2. Выведите столицу по заданной стране.
print(country_dict['Швеция'])

Стокгольм

In [45]:
# 3 Добавьте новую пару "страна-столица" в словарь.
country_dict['Сан-Марино'] = 'Сан-Марино'

In [46]:
# 4 Проверьте, есть ли в словаре заданная страна.
for country in ['Россия', 'Норвегия']:
    if country in country_dict:
        print('Страна {} в списке есть, столица {}.'.format(country, country_dict[country]))
    else:
        print('Страны {} в списке нет.'.format(country))

Страны Россия в списке нет.
Страна Норвегия в списке есть, столица Осло.

### Упр. - Управляющие конструкции
1. Напишите программу, которая запрашивает у пользователя число и определяет, является ли оно положительным, отрицательным или нулем.
1. Напишите программу, которая выводит все четные числа от 1 до 100.
1. Напишите программу, которая запрашивает у пользователя число и выводит таблицу умножения для этого числа.

In [48]:
# 1 программ к-я определяет, является ли введенное число положительным, отрицательным или нулем.

number_input = int(input("Введите число: ")) 
if number_input < 0:
    print("Число отрицательное!")
elif number_input == 0:
    print("Число равно нулю!")
else:
    print("Число положительное!")

Введите число:  66

Число положительное!

In [49]:
# 2Напишите программу, которая выводит все четные числа от 1 до 100.
for num in range(2,101,2):
   print(num, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [50]:
# 2Напишите программу, которая выводит все четные числа от 1 до 100 - вариант со списком
nums_list_new = []
for num in range(2,101,2):
   nums_list_new.append(num)
print(nums_list_new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [52]:
# 3 запрос числа и выведение таблицу умножения для этого числа.
mult_num = int(input("Ввод числа: "))
for mult in range(1, 11):
    print('{} x {} = {} '.format(mult_num, mult, mult_num*mult))

Ввод числа:  9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

### Упр. - Функции

1. Напишите функцию, которая принимает два числа в качестве аргументов и возвращает их сумму.
1. Напишите функцию, которая принимает список чисел и возвращает их среднее арифметическое.
1. Напишите функцию, которая принимает строку и возвращает количество гласных букв в ней.

In [53]:
#1 Напишите функцию, которая принимает два числа в качестве аргументов и возвращает их сумму.
def func_sum(x, y):
    sum_result = x + y
    return print('{} + {} = {}'.format(x, y, sum_result))

In [54]:
x = int(input("Введи число: "))
y = int(input("Введи число: "))
func_sum(x, y)

Введи число:  6
Введи число:  9

6 + 9 = 15

In [55]:
# 2 Напишите функцию, которая принимает список чисел и возвращает их среднее арифметическое.
def average_num(list_numb):
    result = 0
    for numb in list_numb:
        result += numb
    return print("Среднее арифметическое чисел списка равно {}".format(round(result/ len(list_numb),1)))

list_numbers = [1, 10, 100, 20]
average_num(list_numbers)

Среднее арифметическое чисел списка равно 32.8

In [56]:
# Напишите функцию, которая принимает строку и возвращает количество гласных букв в ней.
def vowel_letters(some_str):
    vowels = set("aeiouyаоэеиыуёюя")
    sum_vowels = 0
    for letter in some_str:
        if letter in vowels:
            sum_vowels += 1
    return print(f"Количество гласных в строке: {sum_vowels}")
    
hello_str = "Привет, Python!"
vowel_letters(hello_str)

Количество гласных в строке: 4

### Дополнительные задания
1. Напишите программу, которая находит наибольший общий делитель (НОД) двух чисел.
1. Напишите программу, которая проверяет, является ли заданная строка палиндромом (читается одинаково слева направо и справа налево).
1. Напишите программу, которая конвертирует температуру из Цельсия в Фаренгейты и наоборот (пользователь выбирает направление конвертации).

In [58]:
# 1 Напишите программу, которая находит наибольший общий делитель (НОД) двух чисел.
# Ввод чисел
a = int(input("Введите первое число: "))
b = int(input("Введите второе число: "))

# Функция для нахождения НОД
def gcd(x, y):
    while y:
        x, y = y, x % y
    return x

# Вычисление НОД
result = gcd(a, b)

# Вывод результата
print("Наибольший общий делитель:", result)

Введите первое число:  6
Введите второе число:  9

Наибольший общий делитель: 3

In [59]:
# 2 Напишите программу, которая проверяет, является ли заданная строка палиндромом (читается одинаково слева направо и справа налево).
def test_palindrom(s):
    reversed_s = ''.join(reversed(s))
    if reversed_s == s:
        return print(f"Заданная строка {s} - палиндром!")
    else:
        return print(f"Заданная строка {s} - не палиндром!")
sm_str = 'пепеп'
som_str = "Hello!"
test_palindrom(sm_str)

Заданная строка пепеп - палиндром!

In [60]:
som_str = "Hello!"
test_palindrom(som_str)

Заданная строка Hello! - не палиндром!

In [61]:
# конвертирует температуру из Цельсия в Фаренгейты и наоборот (пользователь выбирает направление конвертации).
def temp_converter(temp, unit):
    if unit.upper() in "СCЦ":
        return print("{} по Цельсию \
это {} по Фаренгейту".format(temp, int(round((temp * 9 / 5) + 32, 0))))
    elif unit.upper() == "F" or unit.upper() == "Ф":
        return print("{} по Фаренгейту \
это {} по Цельсию".format(temp, int(round((temp - 32) * 5 / 9, 2))))
    else:
        print("Единица измерения не распознана")
        
temp, unit = int(input("Текущая температура = ")), input("Введите c (по Цельцию) или f (по Фаренгейту) = ")
temp_converter(temp, unit)

Текущая температура =  451
Введите c (по Цельцию) или f (по Фаренгейту) =  f

451 по Фаренгейту это 232 по Цельсию