In [2]:
import requests
import pandas as pd
import psycopg2
import json

import os
from sqlalchemy import text, create_engine

## Упр. - Загрузка данных о пользователях из API, преобразование данных и загрузка
 - Напишите скрипт Python для получения данных о пользователях из API.
 - Извлеките необходимые поля из данных JSON и преобразуйте их в нужный формат.
 - Загрузите преобразованные данные в JSON тип данных в PostgreSQL.

### Напишите скрипт Python для получения данных о пользователях из API.

In [5]:
# в переменной URL сохраним lанные o пользователях (фейковые)
api_url = 'https://jsonplaceholder.typicode.com/users'  # Это URL для получения данных о пользователях
#  запрос GET сохраним в переменную
response = requests.get(api_url)

# проверим как оработает запрос. если удачно - запишем данные
if response.status_code == 200:
    users_data = response.json()  # Получаем данные в формате JSON
else:
    print(f"Ошибка при получении данных: {response.status_code}")
    exit()

###  Извлеките необходимые поля из данных JSON и преобразуйте их в нужный формат.

In [7]:
# 2. Извлечение необходимых полей и преобразование в нужный формат
users_transformed = []

for user in users_data:
    transformed_user = {
        'id': user['id'],
        'name': user['name'],
        'email': user['email'],
        'address': json.dumps(user['address']),  # Преобразуем адрес в строку JSON
        'phone': user['phone']
    }
    users_transformed.append(transformed_user)

# Преобразуем в DataFrame
df = pd.DataFrame(users_transformed)

In [8]:
df

,id,name,email,address,phone
0,1,Leanne Graham,Sincere@april.biz,"{""street"": ""Kulas Light"", ""suite"": ""Apt. 556"",...",1-770-736-8031 x56442
1,2,Ervin Howell,Shanna@melissa.tv,"{""street"": ""Victor Plains"", ""suite"": ""Suite 87...",010-692-6593 x09125
2,3,Clementine Bauch,Nathan@yesenia.net,"{""street"": ""Douglas Extension"", ""suite"": ""Suit...",1-463-123-4447
3,4,Patricia Lebsack,Julianne.OConner@kory.org,"{""street"": ""Hoeger Mall"", ""suite"": ""Apt. 692"",...",493-170-9623 x156
4,5,Chelsey Dietrich,Lucio_Hettinger@annie.ca,"{""street"": ""Skiles Walks"", ""suite"": ""Suite 351...",(254)954-1289
5,6,Mrs. Dennis Schulist,Karley_Dach@jasper.info,"{""street"": ""Norberto Crossing"", ""suite"": ""Apt....",1-477-935-8478 x6430
6,7,Kurtis Weissnat,Telly.Hoeger@billy.biz,"{""street"": ""Rex Trail"", ""suite"": ""Suite 280"", ...",210.067.6132
7,8,Nicholas Runolfsdottir V,Sherwood@rosamond.me,"{""street"": ""Ellsworth Summit"", ""suite"": ""Suite...",586.493.6943 x140
8,9,Glenna Reichert,Chaim_McDermott@dana.io,"{""street"": ""Dayna Park"", ""suite"": ""Suite 449"",...",(775)976-6794 x41206
9,10,Clementina DuBuque,Rey.Padberg@karina.biz,"{""street"": ""Kattie Turnpike"", ""suite"": ""Suite ...",024-648-3804

In [9]:
df.columns

Index(['id', 'name', 'email', 'address', 'phone'], dtype='object')

In [10]:
# Ограничим длину строковых данных до 100 символов
for col in ['name', 'email']:
    df[col] = (
        df[col].apply(lambda x: x[:100] if isinstance(x, str) else x)
              )
# Ограничим длину строковых данных до 255 символов
df['address'] = (
    df['address'].apply(lambda x: x[:255] if isinstance(x, str) else x)
                )
# Ограничим длину строковых данных до 20 символов
df['phone'] = (
    df['phone'].apply(lambda x: x[:20] if isinstance(x, str) else x)
              )

In [11]:
df

,id,name,email,address,phone
0,1,Leanne Graham,Sincere@april.biz,"{""street"": ""Kulas Light"", ""suite"": ""Apt. 556"",...",1-770-736-8031 x5644
1,2,Ervin Howell,Shanna@melissa.tv,"{""street"": ""Victor Plains"", ""suite"": ""Suite 87...",010-692-6593 x09125
2,3,Clementine Bauch,Nathan@yesenia.net,"{""street"": ""Douglas Extension"", ""suite"": ""Suit...",1-463-123-4447
3,4,Patricia Lebsack,Julianne.OConner@kory.org,"{""street"": ""Hoeger Mall"", ""suite"": ""Apt. 692"",...",493-170-9623 x156
4,5,Chelsey Dietrich,Lucio_Hettinger@annie.ca,"{""street"": ""Skiles Walks"", ""suite"": ""Suite 351...",(254)954-1289
5,6,Mrs. Dennis Schulist,Karley_Dach@jasper.info,"{""street"": ""Norberto Crossing"", ""suite"": ""Apt....",1-477-935-8478 x6430
6,7,Kurtis Weissnat,Telly.Hoeger@billy.biz,"{""street"": ""Rex Trail"", ""suite"": ""Suite 280"", ...",210.067.6132
7,8,Nicholas Runolfsdottir V,Sherwood@rosamond.me,"{""street"": ""Ellsworth Summit"", ""suite"": ""Suite...",586.493.6943 x140
8,9,Glenna Reichert,Chaim_McDermott@dana.io,"{""street"": ""Dayna Park"", ""suite"": ""Suite 449"",...",(775)976-6794 x41206
9,10,Clementina DuBuque,Rey.Padberg@karina.biz,"{""street"": ""Kattie Turnpike"", ""suite"": ""Suite ...",024-648-3804

### Загрузите преобразованные данные в JSON тип данных в PostgreSQL.

In [13]:
#поиск файла .env и загрузка из него переменных среды - файл в папке с ноутбуком 
# д.лежать +в гитигноре
from dotenv import load_dotenv
#грузим пароли запуская поиск файла .env локально
load_dotenv()

True

In [14]:
# Подключение к PostgreSQL
database_url = "postgresql://postgres:os.getenv('PASSWORD')@localhost:5432/postgres"
engine = create_engine(database_url)

In [ ]:
table_name = 'users'

# SQL запрос для создания таблицы (если она не существует)
create_table_sql = """
DROP TABLE IF EXISTS users;  -- Удаляем таблицу, если она существует

CREATE TABLE IF NOT EXISTS users (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100),
    address JSONB,
    phone VARCHAR(20)
);
"""

# Открываем соединение через psycopg2
conn = engine.raw_connection()
try:
    cur = conn.cursor()

    # Создаем таблицу, если она не существует
    cur.execute(create_table_sql)
    conn.commit()

    # Загружаем данные в PostgreSQL
    for _, row in df.iterrows():
        insert_sql = """
        INSERT INTO users (id, name, email, address, phone)
        VALUES (%s, %s, %s, %s, %s)
        -- Если запись с таким ID уже существует, пропустить
        ON CONFLICT (id) DO NOTHING;  
        """
        cur.execute(insert_sql, 
                    (row['id'], 
                     row['name'], 
                     row['email'], 
                     row['address'], 
                     row['phone']))

    conn.commit()
    print("Данные успешно загружены в PostgreSQL!")
finally:
    conn.close()